extends base

block vars
  - var siteTitle = 'Сайт 04';

block content
  body.body
    .wrapper(style="width: 344px;")
      img.logo(src="/src/sass/logo.svg", width="116", height="30", alt="image description", style="text-align: center")

      form(action="")
        h2 Восстановить пароль

        .input
          input(type="email", placeholder="E-mail", required)
          .error
            span#email-error Неправильный формат email

        .input
          input(type="password", placeholder="Пароль", required)
          .error
            span#password-error Пароль должен содержать минимум 8 символов

        .input
          input(type="password", placeholder="Подтвердить пароль", required)
          .error
            span#password-error Пароли не совпадают

        button.btn(type="submit") Восстановить пароль

      p
        | Перейти на 
        a.home-page(href="site1.html", class="home-page") страницу входа